@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
        <title>Pizza Mama</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body class="homePage">
        <div class="centered">
            <img src="~/images/main_logo.png"/>
            
            <a asp-page="MenuPizzas" class="homePage">Voir le menu</a>
        </div>
    </body>

</html>

