@page
@model pizza_mama.Pages.MenuPizzaModel
@{
}

<html>
	<head>
		<title>Menu de Pizzas</title>
		 <link rel="stylesheet" href="~/css/style.css" />
	</head>
	<body>
		<div id="small_logo">
			<a asp-page="index">
			<img src="~/images/small_logo.png" />
			</a>
		</div>

		<div class = "title">
			<h1>Les Pizzas</h1>
		</div>

    <div class="menu_list">
	@foreach(var pizza in Model.Pizza)
	{			
	 <div class="menu_list_item">
		 <span class="menu_list_title"> @pizza.nom </span>	
		 <span class="menu_list_prix"> @String.Format("{0:0.00}", pizza.prix) €</span>
		 <span class="menu_list_ingredient">@pizza.ingredients</span>
				@if (pizza.vegetarienne)
				{
					 <span class="menu_list_badge">VÉGÉTARIENNE</span>
				}
	</div>
			   
			   
	}
	</div>
			
		
	</body>

</html>

